.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-content {
    width: 97%;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;

    .informations {
      margin-top: 6rem;

      .title-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        .small-title p {
          line-height: 120%;
        }

        .big-title p {
          font-size: 50px;
          font-weight: 600;
          line-height: 120%;
        }
      }

      .card-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 45px;
      }
    }

    .recents {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .title-recent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font-size: 50px;
          font-weight: 600;
        }
        .arrows-group {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 106px;

          .arrow {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .arrow.reverse {
            background-color: #1f1f1f;
            border-radius: 50%;
            transform: rotate(180deg);
            cursor: pointer;
          }
        }
      }

      .projects-items-group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    .statistics{
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      gap: 45px;

      .statistics-title{
        width: 100%;
        text-wrap: wrap;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
          width: 785px;
          font-size: 50px;
          font-weight: 600;
        }
      }

      .statistics-content{
        display: flex;
        padding: 3.5rem;
        justify-content: space-around;
        align-items: center;

        .statistics-infos{
          width: 519px;
          display: flex;
          flex-direction: column;
          gap: 63px;

          .infos-heading{
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 96%;

            .infos-title p{
              font-size: 38px;
              font-weight: 600;
            }
          }

          .infos-btn-group{
            width: 333px;
            display: flex;
            gap: 24px;
            height: 60px;
          }

          .statistics-group-items{
            display: flex;
            justify-content: space-between;
          }
        }
        .statistics-image{
          width: 550px;
          height: 100%;

          img{
            height: 100%;
            width: 100%;
            object-fit: fill;
          }
        }
      }
    }

    .newsLetter{
      margin-top: 3.5em;
      margin-bottom: 2.5rem;
    }
  }
}
